.container_child_table{
    height: 180px;
    width: 352px;
}

.container .container_child_table .child_table {
    height: 163px;
    width: 352px;
    margin: auto;
}

.child_table {
    background: rgba(242, 153, 74, 0.15);
    border-radius: 5px;
    height: 163px;
    width: 352px;
}

.child_table tr td {
    background: rgba(242, 153, 74, 0.1);
    text-align: justify;
    
    padding-left: 10px;
}

.child_table tr td img{
    background: rgba(242, 153, 74, 0.1);
    border-radius: 50%;
}

.child_table tr td .buffalo_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_clone_icon{
    display: flex;
    background: rgba(242, 153, 74, 0);
}

.clone_item_detail{
    margin: 5px 0 0 5px;
    
    background: rgba(242, 153, 74, 0);
}
